.titulo {
    text-align: center;
    font-size: 24px;
    margin-bottom: 16px;
}
  
.tabela {
    text-align: center;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

}

.tabela .cabecalho {
    color: var(--primary);
}

.areaTitulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.tabela .conteudo {
    padding: 10px;
    border-bottom: 2px solid green;
}

.tabela .linha {
    margin-bottom: 10px;
    border-radius: 4px;
}

.tabela:last-child {
    border-bottom: none;
}

.tabela:last-child .conteudo {
    padding: 10px;
    border-bottom: 1px solid var(--cinza-claro);
}
